/*
HEADINGS BGCOLOR: #010409
BODY BGCOLOR: #0D1117
SUBCONTAINER BGCOLOR: #24292e
BUTTON COLOR (DEFAULT): #1f8136
BUTTON COLOR (HOVERED): #2dba4e
*/

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0d1117;
}

/*-------------- HOME PAGE --------------*/
/*NAVIGATION BAR*/
.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #010409;
  align-items: center;
  color: white;

  height: 60px;
  padding: 32px;

  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.nav-text {
  font-size: 30px;
  font-weight: bold;
}

ul {
  display: flex;
  gap: 24px;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

/*BODY*/
.main-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 64px 32px;
  justify-content: center;
  align-items: center;
}

.subcontainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 32px;
  background-color: #24292e;
  margin: 32px 16px;
  padding: 32px;
  border-radius: 10px;

  max-width: 500px;
  width: 100%;
}

.intro-sect {
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.intro-sect h2 {
  margin-bottom: 16px;
  font-size: 32px;
}

p {
  color: #fafbfc;
}

.input-sect {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
}

.input-link {
  display: flex;
  gap: 16px;
}

input {
  padding: 8px;
  border-radius: 5px;
  width: 100%;
  background-color: #fafbfc;
}

button {
  background-color: #1f8136;
  color: #fafbfc;
  font-weight: 600;
  padding: 8px;
  border-radius: 5px;
}

button:hover {
  background-color: #2dba4e;
}

/*Loading Animation*/
.loading-circle {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #2dba4e;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
  margin: 32px auto;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*FOOTER*/
footer {
  text-align: center;
  color: rgb(122, 122, 122);
}

/*-------------- LOGIN PAGE --------------*/
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

form h2 {
  font-size: 32px;
  text-align: center;
}

form button {
  max-width: 100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.username-sect {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: white;
  font-weight: bold;
}

.password-sect {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: white;
  font-weight: bold;
}

.email-sect {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: white;
  font-weight: bold;
}

.repeat-password-sect {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: white;
  font-weight: bold;
}

/*-------------- ALL BLOG POST PAGE --------------*/

.blog-container{
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: gray;
  padding: 12pX;
  background-color: #24292e;

}

.blog-container h3{
  font-weight: 500;
  font-size: 24px;

}

hr{
  border: 1px solid rgb(121, 120, 120);
}

.all-blog-subcontainer{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;
  max-width: 700px;
} 

.all-blog-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 24px;
}

section h2{
  font-size: 28px;
  font-weight: bold;
}

/*-------------- BLOG DETAILS PAGE --------------*/
.blog-container h4{
  font-size: 20px;
}

.blog-container a{
  color: lightblue;
}
